/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.ok-btn,
.login-btn {
  background-color: #fb8836 !important;
  color: white !important;
  transition: background-color 0.3s, color 0.3s;
}
.register-btn {
  color: #fb8836 !important;
  border: 1px solid #fb8836 !important;
  background-color: white !important;
  transition: background-color 0.3s, color 0.3s;
}
.ok-btn:hover,
.login-btn:hover,
.register-btn:hover {
  background-color: #f5b385 !important;
}
